body {
  margin: 0;
  padding: 0;
  background-color: #F8F8F8;
  color: #333;
  font-family: Arial, sans-serif;
}
.task-master {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-right: 96px;
  animation: glowEffect 2s infinite;
}


@keyframes glowEffect {
  0% {
    text-shadow: 0 0 5px white;
  }
  50% {
    text-shadow: 0 0 10px white;
  }
  100% {
    text-shadow: 0 0 5px white;
  }
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.navbar {
  background-color: purple;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.nav-options {
  color: white;
  margin-left: 20px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.nav-options:hover {
  background-color: black;
  color: rgb(22, 211, 22);
  transition: background-color 0.3s, color 0.3s;
}

.welcome-message {
  text-align: center;
  margin-bottom: 30px;
  color: rgb(82, 21, 82);
  font-size: 28px;
  font-weight: bold;
}


.task-form {
  border: 3px solid black;
  width: 400px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  margin-left: 100px;
  
  
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 8px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.bgimage {
  margin-left: auto;
  
}
h2 {
  text-align: center;
  color: rgb(155, 4, 155);
  font-size: 24px;
  margin-bottom: 20px;
}

p{
  color: purple;
}
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.task-master {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-right: 96px;
}
.task {
  background-color: #f2f2f2;
  border: 2px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  
}

.task-title {
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

.task-description {
  color: #555;
  font-size: 16px;
}



.delete{
  color: white;
  padding: 10px 12px;
  cursor: pointer;
  background-color:rgb(252, 10, 10);
  border-radius: 10px;
}
.delete:hover{
  background-color: rgb(161, 24, 24);
}
.notification {
  color: white;
  display: none;
  padding: 10px;
  background-color: #8815bd;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.notification.show {
  display: block;
}

.notification .message {
  margin-right: 10px;
}

.notification #closeNotification {
  border: none;
  background-color: transparent;
  cursor: pointer;
  float: right;
  font-weight: bold;
}
#about {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

#about h2 {
  color: #333;
}

#about p {
  color: #666;
  line-height: 1.5;
}
#tasksHeading {
  display: none;
}

.has-tasks #tasksHeading {
  display: block;
}
footer {
  
  background-color: rgb(59, 9, 59);
  padding: 20px;
  text-align: center;
}

.heart-icon {
  color: red;
}

.footer-content {
  margin-bottom: 10px;
 
}
.footer-content p{
  color: white;
}
.task-form-container {
  display: flex;
  
  align-items: flex-start;
  
  
}

.left-space img {
  width: 400px;
  height: 400px;
  margin-right: 50px;

}


